@import "tailwindcss";

@theme {
  --color-primary-light: #3f83f8;
  --color-primary-dark: #1a56db;
  
  --color-success-light: #0e9f6e;
  --color-success-dark: #057a55;
  
  --color-danger-light: #f05252;
  --color-danger-dark: #c81e1e;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}